{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

<style>
{% block style %}
.lead {
    text-align: center;
    color: #336B87;
}

.navbar-static-top {
    margin-bottom: 0px !important;
}
{% endblock %}
</style>

{% block jumbotron_content %}
    <div class="container">
    <div class="row" >
        <div class="col-sm-6">
            <h1>AI Gaming Platform</h1>
            <p>A platform that introduce you to programming AI in a completely different and fun way, immerse
            yourself and compete with friends. May the best coder win!</p>
            <p>
                <a class="btn btn-lg btn-primary" href="">Join Us &raquo;</a>
            </p>
        </div>
        <div class="col-sm-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/AHPLOpkFoGY" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    </div>
{% endblock%}

{% block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3">
            <p class="lead">Open Source Platform
                <br /> <br />
                <i class="fa fa-github fa-5x" aria-hidden="true" ></i>
            </p>
        </div>
        <div class="col-xs-3">
            <p class="lead">Powered by Django & Bootstrap
                <img src="{% static 'img/python.png' %}" class="img-responsive img-rounded center " width="150" height="200" >
            </p>

        </div>
        <div class="col-xs-3">
            <p class="lead">For Beginner & Expert Developers
                <br />
             <i class="fa fa-git fa-5x" aria-hidden="true"></i>
            </p>
        </div>
        <div class="col-xs-3 pull-right well">
            <h4 class="lead">Subscribe</h4>
            <form method="post" action="">{% csrf_token %}
                {{form|crispy}}
                <br />
                <input type="submit" class="btn btn-primary" value="Sign Up">
            </form>
        </div>
    </div>
</div>

{% endblock %}