body {
    background-image: url("../img/bg-5-full.jpg");
    min
}

footer {
    background: #3C4556;
    color: #eee;
    font-size: 11px;
    padding: 20px;
}

.footer {
  position: relative;
  margin-top: 260px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}

.jumbotron {
    background: url("../img/bg-9-full.jpg") center center;
    color: white;
}

.navbar-static-top {
    margin-bottom: 19px;
}
.navbar-default {
    background-color: #3C4556;
    background-image: none;
    background-repeat: no-repeat;
    border-color: #3C4556;
    text-color: white;
}
.nav.navbar-nav li a {
    color: white;
}
.nav.navbar-nav li a:hover {
    color: #BCD4E6;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo{color: #BCD4E6; font-family: 'Architects Daughter', cursive; font-size: 30px;}
