<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/puzzles.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <meta charset="UTF-8">
        <title>Igor</title>
    </head>
    <body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#">
                    <span class="sr-only">Show/Hide nav bar</span>
                </button>
                <a class="navbar-brand" id="logo" href="/">
                    IGOR
                </a>
            </div>

            <ul class="nav navbar-nav">

                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Puzzles</a></li>
                <li role="presentation"><a href="#">Editor</a></li>
            </ul>
        </div>
        </nav>
    <div class="content container">
        <div class="row">
            <div class="col-md-7">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        </div>
    </body>
</html>