<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'js/codemirror/lib/codemirror.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'js/codemirror/theme/dracula.css'%}">
        <link rel="stylesheet" href="{% static 'css/puzzles.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Lobster" rel="stylesheet">
        <meta charset="UTF-8">
        <title>Igor</title>
    </head>
    <body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#">
                    <span class="sr-only">Show/Hide nav bar</span>
                </button>
                <a class="navbar-brand" id="logo" href="/">
                    IGOR
                </a>
            </div>

            <ul class="nav navbar-nav">

                <li role="presentation" class="active"><a href="{% url 'home'%}">Home</a></li>
                <li role="presentation"><a href="#">Puzzles</a></li>
                <li role="presentation"><a href="#">Editor</a></li>
            </ul>
        </div>
        </nav>
    <div class="content container">
        <div class="row">
            <div class="col-md-7">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        </div>
    <!-- Javascript include -->
        <script type="text/javascript" src="{% static 'js/jquery.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/codemirror/lib/codemirror.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/codemirror/mode/python/python.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/default.js'%}"></script>
    </body>
</html>