{% extends "puzzles/base.html" %}
{% block content %}
{% block jumbotron%}{% endblock%}
{% if puzzles %}
<ul>
    {% for puzzle in puzzles %}
        <li>
            <h2>{{puzzle.name}}
                <div class="date">
                    <small>
                        {{puzzle.pub_date}}
                    </small>
                </div>
            </h2>
            {{puzzle.text | linebreaks |truncatechars:200 }} <a href="{% url 'solve' puzzle.id %}">Attempt</a>
        </li>
    {% endfor %}
</ul>
{% else %}
<p>No puzzles available</p>
{% endif %}
{% endblock %}